@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* .roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
} 
  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.bricolage-grotesque-<uniquifier> {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    COLORES: FONDO #efeee9
    VERDE #a7ef4c 
    VIOLETA #753fdf
    */

body{
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque"", sans-serif;
}
    

.navbar {
    justify-content: center;
    background-color: black;
    position: sticky;
    top:0;
}

.hero img {
  width: 100%;
  height: auto;
}
.navbar a:hover {
    color: #a7ef4c;
}
.principal {
    display: flex;
    flex-wrap: wrap;
}
aside h2{
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
}
aside h4{
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
}
p{
  font-family: "Bricolage Grotesque", sans-serif;
}
aside {
    flex-basis: 25%;
    background-color: rgb(238, 230, 245);
    text-align: center;
    padding: 10px;
}
.image img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px;
}

main { 
    flex-basis: 75%;
    background-color: rgb(236, 235, 236);
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    padding-left: 40px;
}
main h2{
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #753fdf;
  padding: 15px;
}
.subtitulo{
  font-size: 1.5em;
}
.mainfoto {
  width: 85%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 20px;
}
.leermas {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: black;
  color: #e9e2f1;
  border-radius: 40px;
}
.leermas:hover {
  color: black;
  background-color: #cec1dd;
}
main article{
  margin-bottom: 25px;
}
@media (max-width: 900px) {
    .principal {
        flex-direction: column;
    }
    .image img {
        width: 60%;
        height: auto;
    }
}
@media (max-width: 1500px){
  iframe {
    width: 100%;
  }

}
footer{
  padding: 15px;
  text-align: center;
  background-color: rgb(44, 44, 44);
  color: #e9e2f1;
}
.contact {
  padding: 50px;
  background-color: #e9e2f1;
  color: rgb(54, 54, 54);
  text-align: center;
  font-size: 20px;
  height: 100vh;
}
fieldset {
  display: grid;
  grid-template-columns: 50vw 30vw;
  gap: 10px;
  padding: 40px;
  margin: auto;
  width: fit-content;
  border: #753fdf solid;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
}
legend{
  text-align: center;
}
label{
  color: black;
  background-color: #cec1dd;
  border-radius: 50px;
}
@media (max-width: 900px) {
  fieldset {
    display: flex;
    flex-direction: column;
  }
  iframe {
    width: 100%;
    height: 100%
  }
}
.card{
  margin: 30px;
  padding: 10px;
  border-radius: 15px;
  background-color: #e9e2f1;
}
.card img {
  border-radius: 15px;
}
.card-title{
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #753fdf;
  padding: 15px;
}
.card-text {
  font-family: "Bricolage Grotesque", sans-serif;
}
article {
  font-family: "Bricolage Grotesque", sans-serif;
}
.mainservicios {
  flex-basis: 75%;
  background-color: rgb(236, 235, 236);
}
.servicios {
  margin: 50px;
  text-align: start;
  background-color: #cec1dd;
  padding: 50px;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
}
video{
  justify-items: center;
  border-radius: 20px;
  width: 50%;
  height: auto;
  margin: 20px;
}
.articulotexto {
  background-color: #cec1dd;
  border-radius: 25px;
  justify-content: center;
  text-align: center;
  padding: 5%;
  margin: 10px;
  font-size: 1,5rem;
  position: relative;
  overflow: hidden;
}